.grid {
    display: grid;
    grid-template-columns: max(150px, min(300px, 20%)) auto;
    grid-template-areas: "sidebar content";
    height: 100vh;
}

.sidebarWrapper {
    background-color: white;
    border-right: 1px solid rgba(0,0,0,0.15);
    grid-area: sidebar;
    position: fixed;
    height: 100%;
    width: max(150px, min(300px, 20%));
    z-index: 1000;
    overflow-y: auto;
}

.sidebar {
    font-size: 13pt;
    line-height: 2em;
    padding-left: 5px;
    padding-right: 5px;
}

.sidebarItemWrapper {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.selectedSidebarItem {
    color: black;
    font-weight: bold;
    display: inline-block;
    width: calc(100% - 15px);
}

.sidebarItem {
    color: rgba(82, 82, 82, 0.99);
    display: inline-block;
    width: calc(100% - 15px);
}

.sidebarPin {
    float: right;
    width:15px;
    z-index: 1000;
    opacity: 20%;
}
.sidebarPin:hover {
    opacity: 100%;
}
.sidebarPinPinned {
    float: right;
    width:15px;
    z-index: 1000;
}

.contentWrapper {
    grid-area: content;
    overflow-y: scroll;
}

